/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}
body {
  background-color: var(--bg-sec);
}
html {
  overflow: hidden;
}

.Canvas-container {
  height: 20%;
}
/*Variables*/
:root {
  --bg-main: #112136;
  --bg-sec: #1b3152;
  --bg-third: #273a46;
  --color-main: #d7eefa;
  --color-sec: #9bbcd1;
  --color-third: #2d68a7;
}
iframe html {
  overflow: scroll;
}
.gjs-one-bg .gjs-two-color,
.gjs-one-bg {
  background-color: var(--bg-sec);
}
.gjs-pn-buttons {
  color: var(--color-sec);
  background-color: var(--bg-sec);
}
.gjs-pn-active svg {
  color: var(--color-main);
  background-color: var(--bg-sec);
  padding: 8%;
}

/* Top bar  Left icons*/
.gjs-pn-views {
  position: absolute;
  left: 0%;
  top: 0;
}
/* Top bar  Left icons*/
.gjs-pn-panel {
  position: absolute;
  right: 0;
}
/* Devices */
.gjs-pn-devices-c {
  margin: 0 auto;
  right: 50%;
}

.gjs-block-category {
  color: var(--color-sec);
}
.gjs-title {
  color: var(--color-main);
}
/*Components container*/
.gjs-blocks-c {
  background-color: var(--bg-sec);
  color: var(--color-sec);
}
.gjs-block__media,
.gjs-block-label {
  color: var(--color-sec);
}
.gjs-blocks-c > div {
  background-color: var(--bg-sec);
  border: solid 1px var(--color-sec);
}
.gjs-blocks-c > div:hover {
  background-color: var(--bg-sec);
  border: solid 1px var(--color-main);
}
.gjs-blocks-c > div:hover > .gjs-block-label,
.gjs-blocks-c > div:hover > .gjs-block__media {
  color: var(--color-main);
}
.gjs-block div,
#gjs-clm-tags-c > *,
#gjs-clm-tags-c ~ *,
.gjs-rte-action {
  background-color: var(--bg-sec);
  color: var(--color-sec);
}
.gjs-sm-sector-label,
.gjs-radio-item ~ *,
.gjs-sm-icon,
.gjs-sm-header,
.gjs-clm-header-label,
.gjs-clm-header-status,
.gjs-select,
.gjs-field ~ *,
.gjs-sm-clear,
.gjs-radio-item-label,
.gjs-traits-label,
.gjs-label-wrp,
.gjs-field-wrp {
  color: var(--color-main);
}
#gjs-clm-states option,
#gjs-clm-tag-label,
.gjs-clm-tag-status,
.gjs-clm-tag-close,
.gjs-clm-tag svg {
  color: var(--color-main);
}

.gjs-pn-views-container {
  height: 100%;
  left: 0;
  z-index: 1;
  display: none;
}
.Open-close {
  display: flex;
  align-items: center;
  position: absolute;
  width: 2vw;
  height: 3vh;
  top: 7%;
  left: 12.5%;
  z-index: 100;
  cursor: pointer;
}

/* Canvas Editor*/
.gjs-cv-canvas {
  width: 100%;
  background-color: #1e2a31;
}
.gjs-layer > div,
.open svg {
  background-color: var(--bg-main);
  color: var(--color-main);
}
.gjs-layer-move {
  height: 40%;
}
.gjs-cv-canvas__frames {
  background-color: var(--bg-third);
}
.CodeMirror > * {
  background-color: var(--bg-sec);
}
.gjs-mdl-content,
.gjs-mdl-title,
.gjs-mdl-header {
  background-color: var(--bg-sec);
  color: var(--color-main);
}
.CodeMirror-gutter {
  background-color: var(--bg-main);
}
/* Save template form*/
.Canvas-template-title {
  font-size: 16px;
}
.save-template-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  display: block;
  border: solid 1px var(--color-main);
  width: 60%;
  height: 50%;
  padding: 2% 8%;
  color: var(--color-main);
  border-radius: 35px;
  background-color: #11001fdc;
  box-shadow: 1px 10px 10px 100vh rgba(6, 8, 31, 0.699);
}
.modal-content form {
  display: flex;
  flex-direction: column;
}
.modal-content form input,
.modal-content form textarea {
  padding: 0.5% 2%;
  border-radius: 15px;
  border: solid 1px var(--color-main);
  margin: 1% 0;
  background-color: #33333383;
  color: var(--color-main);
  font-size: 18px;
}
.modal-content button {
  float: right;
  padding: 1%;
  border-radius: 10px;
  border: solid 1px var(--color-main);
  background-color: var(--color-main);
  color: black;
  cursor: pointer;
  width: 15%;
  margin: 4% 2%;
}
.modal-content button:hover {
  border: solid 1px var(--color-main);
  background-color: transparent;
  color: var(--color-main);
}
.modal-content span {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: large;
}
/* Nav Bar*/
.Navar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Container-nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-main);
  color: var(--color-main);
}

.Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  font-size: 18px;
  width: 20%;
  height: 100%;
  margin-right: 2%;
}
.Menu a,
.Logo i {
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
}
.Logo {
  align-self: center;
}
.Menu a,
.Logo {
  cursor: pointer;
  padding: 1%;
  text-decoration: none;
  color: var(--color-main);
}

.Menu a:hover,
.Logo:hover {
  background-color: var(--bg-sec);
  color: var(--color-third);
}
/*************************** Login/Register******************/
.Register-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(-45deg, #220038, #550243, #00202c, #003528);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.form-container {
  display: block;
  border: solid 1px var(--color-main);
  margin: 5% auto;
  width: 60%;
  height: 70%;
  padding: 2% 8%;
  color: var(--color-main);
  border-radius: 35px;
  background-color: #0e04304f;
}
.Register-title {
  font-size: 24px;
  text-align: center;
}

.register-form div {
  display: flex;
  flex-direction: column;
  gap: 2%;
}
.register-form input {
  padding: 1%;
  border-radius: 15px;
  border: solid 1px var(--color-main);
  margin: 1% 0;
  background-color: #33333383;
  color: var(--color-main);
  font-size: larger;
}
.register-form button {
  padding: 1%;
  border-radius: 15px;
  border: solid 1px var(--color-main);
  margin: 1% 0;
  background-color: var(--color-main);
  color: black;
  cursor: pointer;
}
.register-form button:hover {
  border: solid 1px var(--color-main);
  background-color: transparent;
  color: var(--color-main);
}
.already-have-an-account a {
  text-decoration: none;
  color: #168600;
}
.error {
  display: block;
  color: red;
}
/*************************** Landing Page ***********************************/

.Landing-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(29, 2, 51, 0.6), rgba(12, 1, 39, 0.6)),
    url("./assets/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Landing-page-main {
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
}

.Landing-page-main-left,
.Landing-page-main-right {
  width: 40%;
  color: var(--color-main);
}
.Landing-page-main-left p {
  margin: 10% 0;
  text-align: justify;
}
.Landing-page-main-left button {
  display: block;
  padding: 2% 4%;
  margin: 0 auto;
  background-color: var(--color-third);
  border: none;
  border-radius: 5px;
  width: 15rem;
  color: var(--color-main);
  font-size: 18px;
  cursor: pointer;
}
.Landing-page-main-right img {
  filter: sepia(5%), hue-rotate(10%);
}

.landing-page {
  padding: 8% 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(29, 2, 51, 0.6), rgba(12, 1, 39, 0.6)),
    url("./assets/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landing-page-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  background-color: #ba31be36;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.landing-page-main-left {
  width: 60%;
  margin-right: 50px;
}

.landing-page-main-left h1 {
  margin-bottom: 2%;
  font-size: 40px;
  color: var(--color-main);
}

.landing-page-main-left p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: var(--color-main);
  text-align: justify;
}

.get-started-btn {
  display: inline-block;
  padding: 2%;
  font-size: 24px;
  color: #fff;
  background: linear-gradient(
    45deg,
    #220038,
    #460037,
    #420344,
    #001b35,
    #220038,
    #460037,
    #00202c,
    #003528
  );
  background-size: 400% 400%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.get-started-btn:hover {
  outline: var(--color-main);
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  animation: gradient 10s ease infinite;
  outline: solid 1px;
}

.landing-page-main-right img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.sliding-container {
  border-radius: 15px;
  width: 500px;
  height: 400px;
  overflow: hidden;
  opacity: 0.6;
}

.sliding-background {
  background: url("./assets/builder.png") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

/***************Templates -- Profile ***************/
.Loading {
  font-size: 32px;
  color: white;
  width: 100%;
  height: 100vh;
  position: relative;
}
.Loading div,
.Loading img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding-top: 15%;
}
.Loading img {
  width: 6vw;
}
.templates-container {
  display: flex;
  flex-direction: row;
  background-image: url("./assets/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.profile-section {
  height: 94vh;
  width: 24%;
  padding: 2%;
  background-color: #1e2a31d2;
}
.user-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: space-between;
  color: var(--color-main);
}
.profile-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 10%;
}
.profile-form input {
  padding: 5%;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.267);
  color: var(--color-main);
  border: none;
  margin-bottom: 6%;
}
.profile-pic-div {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 50%;
  height: 15vh;
  margin: 0 auto;
}
.profile-pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  cursor: pointer;
  margin: 0 auto;
}
.change-password {
  margin: 8% 0 9% 0;
  width: 100%;
  padding: 3%;
  font-size: 14px;
  color: var(--color-main);
  background-color: rgba(36, 36, 36, 0.76);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.save-profile {
  padding: 3%;
  cursor: pointer;
  border: solid 1px var(--color-main);
}
.save-profile:hover {
  background-color: transparent;
  color: var(--color-main);
}
.delete-account {
  padding: 4%;
  font-size: 14px;
  color: var(--color-main);
  background-color: #860000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.templates-section {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  height: 80vh;
  overflow-y: auto;
  border-radius: 30px;
  background-color: #0e04308f;
}
.templates-section-wrapper {
  height: 100%;
  padding: 0 6%;
  margin: 0 auto;
  width: 100%;
}
.Templates {
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  position: relative;
  cursor: pointer;
  animation: 1s ease-in-out;
}
.Templates:hover {
  scale: 1.05;
}
.template-title {
  text-align: center;
  font-size: 16px;
  padding: 2%;
  color: var(--color-main);
}
.template-edit,
.template-delete {
  z-index: 100;
  width: 48%;
  display: inline-block;
  margin: 2% 1%;
  padding: 2%;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  color: var(--color-main);
  cursor: pointer;
}
.page-preview {
  height: 7vh;
}
.delete-warning {
  padding: 2%;
  position: absolute;
  color: var(--color-main);
  font-size: 22px;
  text-align: center;
  width: 35rem;
  height: 8rem;
  border-radius: 35px;
  z-index: 10;
  background-color: #0e0430ee;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  outline: solid 1px var(--color-main);
  box-shadow: 1px 10px 10px 100vh rgba(6, 8, 31, 0.699);
}
.delete-warning p {
}
.Yes-button {
  color: var(--color-main);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 1% 5%;
  margin: 4% 1%;
}
.Yes-button:hover,
.delete-account:hover,
.change-password:hover,
.template-edit:hover,
.template-delete:hover {
  outline: solid 1px white;
}
.confirm,
.template-edit {
  background-color: #168600;
}
.deny,
.template-delete {
  background-color: #860000;
}
::-webkit-scrollbar {
  width: 1px;
}

/************* Cards**********************/
.cards {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
  gap: 2rem;
  margin: 2% 0;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 28vh;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  border: none;
  background-color: #0e0430;
}

.card__image {
  width: 100%;
  max-height: 60%;
  object-fit: cover;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 30px;
  background-color: #0e0430b4;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em;
  border-radius: 30px 0 0 0;
  color: var(--color-main);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  border: solid 1px var(--color-main);
  flex-shrink: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 14px;
  margin: 0 0 0.3em;
  color: var(--color-main);
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-size: 0.8em;
  color: var(--color-main);
}

.card__status {
  font-size: 0.8em;
  color: #ffffff;
}

.card__description {
  padding: 0 2em 0;
  margin: 0;
  color: var(--color-main);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
